<html>
    <head>
	<style>
	    body
	    {
		background-color:#c9ff96;
	    }
	    h1,h2
	    {
		text-align:center;
	    }
	    div
	    {
		font-size:20px;
		width:600px;
		margin-right:auto;
		margin-left:auto;
	    }
	    .title
	    {
		color:#ff6644;
		font-size:25px;
	    }
	</style>
        <script src="chrome-extension://lifbcibllhkdhoafpjfnlhfpfgnpldfl/document_iterator.js"></script>
        <script src="chrome-extension://lifbcibllhkdhoafpjfnlhfpfgnpldfl/find_proxy.js"></script>
        <script src="chrome-extension://lifbcibllhkdhoafpjfnlhfpfgnpldfl/get_html_text.js"></script>
        <script src="chrome-extension://lifbcibllhkdhoafpjfnlhfpfgnpldfl/global_constants.js"></script>
        <script src="chrome-extension://lifbcibllhkdhoafpjfnlhfpfgnpldfl/name_injection_builder.js"></script>
        <script src="chrome-extension://lifbcibllhkdhoafpjfnlhfpfgnpldfl/number_injection_builder.js"></script>
        <script src="chrome-extension://lifbcibllhkdhoafpjfnlhfpfgnpldfl/menu_injection_builder.js"></script>
        <script src="chrome-extension://lifbcibllhkdhoafpjfnlhfpfgnpldfl/string_finder.js"></script>
        <script src="chrome-extension://lifbcibllhkdhoafpjfnlhfpfgnpldfl/change_sink.js"></script>
        <meta name="document_iterator.js">
        <meta name="find_proxy.js">
        <meta name="get_html_text.js">
        <meta name="global_constants.js">
        <meta name="name_injection_builder.js">
        <meta name="number_injection_builder.js">
        <meta name="menu_injection_builder.js">
        <meta name="string_finder.js">
        <meta name="change_sink.js">
    </head>
    <body>
	<h1 style="color:#0000ff">What is MultiClouds</h1>
	<h2 style="color:#9999ee">Easily integrate your sky-drives</h2>
	<div>
	    &nbsp&nbsp&nbsp
	    As Internet become much more popular, many cloud computing services come into existence, including sky-drive, wireless synchronization. Have you ever forgotten which sky-drive you put your files, taking much time to search all your sky-drives? Therefore, it turns out to be very important to integrate and organize your sky-drive into one system.
            <br>
	    &nbsp&nbsp&nbsp
	    MultiClouds is a free service that lets you do that. Easily integrate your sky-drives including Box, Dropbox, Google Drive, SkyDrive, and also greatly easy to use. Just need to follow the instruction below.
	</div>
	<br><br>
	<div class="title">Step 1:</div>
	<div>Choose which account you would like to use and sign in at home page.</div>
	<br>
	<div class="title">Step 2:</div>
	<div>After getting into serving page, you can add sky-drives</div>   
	<br>
	<div class="title">Step 3:</div>
	<div>Once you choose add some sky-drive, it will need to input your account and password to connect sky-drive and MultiClouds.</div>  
	<br>
	<div class="title">Step 4:</div>
	<div>After add your sky-drive, now you can download, delete, cut, copy and even share your files.</div>
    </body>
    <span id="skype_highlighting_settings" display="none" autoextractnumbers="1" hightlightingswitched="0"></span>
    <object id="skype_plugin_object" location.href="http://multiclouds.appspot.com/user/contactus" location.hostname="multiclouds.appspot.com" style="position: absolute; visibility: hidden; left: -100px; top: -100px;" width="0" height="0" type="application/x-vnd.skype.click2call.chrome.5.7.0"></object>
</html>