<html>
  <head>
    <title>Redirect</title>
    <link rel="stylesheet" type="text/css" href="/css/redirect.css">
  </head>
  <body>
    <div id='upper'></div>
    <div id='all'>
      Thank you for your submittion<br>
      Redirect after 5 second<br>
      <a href="http://multiclouds.appspot.com/">Click here if it didn't redirect</a>
    </div>
  </body>
  <script>
  window.setTimeout("redir()",5000);  //alert after 3s
  function redir()
  {
    window.location = "http://multiclouds.appspot.com/"
  }
  </script>
  
</html>