<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>MultiClouds Project</title>
		<style>
			body {
				background-color: #c9ff96;
			}
			#menu
			{
				float : left;
				width : 180px;
				height: 300px;
				padding-left: 40px;
				line-height: 50px;
				font-size: 30px;
			}
			#menu p
			{
				font-weight: bold;
				color : blue;
				border-bottom : 1px dotted;
				text-decoration : none;
				background: lightgreen;
			}
			</style>
			</head>
			<body>
				<div id="menu">
					<p>&nbspB&nbspo&nbspx&nbsp.&nbspc&nbspo&nbspm&nbsp </p>
					<p>&nbsp&nbsp&nbspDrop&nbspBox&nbsp&nbsp&nbsp </p>
					<p>Google Drive&nbsp </p>
					<p>&nbsp&nbspSky&nbsp&nbsp Drive&nbsp&nbsp</p>
				</div>
				<p><br/><br/><br/></p>
				<p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
				&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<input type="button" onClick="parent.location='http://multiclouds.appspot.com/user/adddropbox'" value="Extend Dropbox">
				&nbsp&nbsp&nbsp&nbsp&nbsp
				&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<input type="button" onClick="parent.location='http://multiclouds.appspot.com/user/addgdrive'" value="Extend Google Drive">
				&nbsp&nbsp&nbsp&nbsp&nbsp
				&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<input type="button" onClick="parent.location='http://multiclouds.appspot.com/user/addskydrive'" value="Extend SkyDrive">
				&nbsp&nbsp&nbsp&nbsp&nbsp
				&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<input type="button" onClick="parent.location='http://multiclouds.appspot.com/user/addbox'" value="Extend Box">
				&nbsp&nbsp&nbsp&nbsp&nbsp
				&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<input type="button" onClick="parent.location='http://multiclouds.appspot.com/user/getallinfo'" value="List All Data Info">
				<br/>
				</p><br/><br/><br/><br/><br/><br/>
				&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
				&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
				&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
				&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
				&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
				&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
				<a href="http://multiclouds.appspot.com/user/contactus" style="font-size: 25px; border: 1px outset green; color: green; text-shadow: 3px 3px lightgreen;" >Contact Us</a>
				&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
				<a href="http://multiclouds.appspot.com/_ah/openid_logout?continue=http://multiclouds.appspot.com" style="font-size: 25px; border: 1px outset green; color: green; text-shadow: 3px 3px lightgreen;">Log Out</a>
			</body>
        </html>